* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}
ul {
  padding: 0px !important;
}

body {
  background: #fafafa;
  padding-bottom: 20px;
  height: 100vh;
}
.main-container {
  padding: 20px;
}
.appHeader {
  padding: 20px;
  background-color: #2b63dc;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin-top: 77px;
  display: flex;
  justify-content: center;
}

.logo-img {
  height: 85px;
}

.no-item-img {
  height: 100px;
}

.no-file-div {
  text-align: center;
}
.no-file-div > p {
  margin-top: -5px;
  font-size: 18px;
  color: #c9c9c9;
}

.container-card-div h1 {
  color: #949494;
  font-size: 15px !important;
  margin-bottom: 10px;
}

.container-card-div {
  max-width: 550px;
  width: 100%;
}

.container-card-div ul > li {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
  background-color: white;
  margin-bottom: 40px;
}
.container-card-div ul > li > section {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.container-card-div ul > li > div {
  border-top: 2px solid #e3e3e3;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.info-div:first-child {
  color: #23354b;
  font-weight: bold;
}
.info-div:first-child span {
  font-size: 15.5px;
}

.btn-detail * {
  cursor: pointer;
}

.btn-detail {
  cursor: pointer;
  background-color: transparent;
  color: #b79be8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-detail img {
  width: 24px;
  margin-left: 5px;
}

.container-li-body {
  justify-content: space-between;
  display: flex;
}

.container-li-body p {
  text-align: justify;
  width: calc(100% - 123px);
}

.btn-see-more {
  height: 45px;
  width: 109px;
  padding: 0 20px;
  background-color: #fed468;
  color: white;
  cursor: pointer;
}

.select-container {
  margin-top: 20px;
  max-width: 550px;
  width: 100%;
}

.img-info {
  margin-bottom: 10px;
  margin-right: 20px;
}

body > div:nth-child(6) > div > div.modal.fade.show {
  margin-top: calc(100px) !important;
}

.modal-container-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

body
  > div:nth-child(6)
  > div
  > div.modal.fade.show
  > div
  > div
  > div.modal-footer
  button {
  max-width: 95px !important;
  width: 100%;
}
